{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>ASOIAF Army Builder</h1>


        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="factionSelect">Faction</label>
                        <select class="form-control" id="factionSelect">
                            {% for faction in listFaction  %}
                                <option value="{{ faction.id }}">
                                    {{ faction.nom }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="armyPoint">Point de l'armée</label>
                        <input type="text" class="form-control" id="armyPoint" placeholder="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="commandSelect">Commandant</label>
                        <select class="form-control" id="commandSelect">
                            <option></option>
                            {% for commandant in listCommandant  %}
                                <option value="{{ commandant.id }}" data-cout="{{ commandant.cout }}" data-isunique="{{ commandant.isunique }}">
                                    {{ commandant.nom }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="combatUnit">Ajouter une unité de combat</label>
                        <select class="form-control" id="combatUnit">
                            <option></option>
                            {% for unite in listUnite  %}
                                <option value="{{ unite.id }}" data-cout="{{ unite.cout }}" data-isunique="{{ unite.isunique }}" data-typeunite="{{ unite.typeIndividu.id }}">
                                    {{ unite.nom }} (cout :{{ unite.cout }}, type: {{ unite.typeIndividu.nom }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="nonCombatUnit">Ajouter une unité non-combatante</label>
                        <select class="form-control" id="nonCombatUnit">
                            <option></option>
                            {% for ncu in listNCU  %}
                                <option value="{{ ncu.id }}" data-cout="{{ ncu.cout }}" data-isunique="{{ ncu.isunique }}" data-typeunite="{{ ncu.typeIndividu.id }}">
                                    {{ ncu.nom }} (cout : {{ ncu.cout }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="armyName">Nom de l'armée</label>
                        <input type="email" class="form-control" id="armyName" placeholder="">
                    </div>
                    <br>
                    <button type="button" class="btn btn-default">Générer un PDF</button>

                </div>
                <div class="col-lg-6">
                    <label for="">Résumé</label>
                    <div class="form-group">
                        {#<textarea class="form-control" rows="3" id="resumeSelect"></textarea>#}
                        <ul>
                            <li>Faction : <span class="factionNameResume"></span></li>
                            <li>Commandant : <span class="commandantNameResume">Aucun selectionné</span></li>
                            <li>Point : <span class="pointResume">0</span></li>
                            <li>Unité de combat :
                                <ul class="listCombatUnitNameResume">
                                    <li class="nothingUC card">Aucune</li>
                                </ul>
                            </li>
                            <li>Unité non-combatante :
                                <ul class="listNonCombatUnitNameResume">
                                    <li class="nothingNUC card">Aucune</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" media="screen">
    <style>
        .listCombatUnitNameResume li, .listNonCombatUnitNameResume li  {

            list-style-position: outside;
            border: 1px solid black;
            padding: 25px;
            margin-bottom: 5px;
        }

        /*.listCombatUnitNameResume, .listNonCombatUnitNameResume  {
            max-height: 300px;
            overflow-x: auto;
        }*/

        li.select2-results__option::before{
            content: none;
            color: white;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/fr.js"></script>
    <script src="{{ asset('bundles/app/js/script.js') }}"></script>
{% endblock %}