{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faction edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form.nom) }}
        <br>
        <div id="filesProto" data-prototype="{{ form_widget(edit_form.images.vars.prototype)|e }}"></div>
        <div class="row">
            <div class="col col-xs-12" id="filesBox">
                {% set pos = 0 %}
                {% for img in edit_form.images %}
                    <div class="row">
                        <div class="col col-xs-1" id="jsRemove{{ pos }}" style="">
                            <button type="button" class="btn btn-danger" onclick="removeFile($(this));"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="col col-xs-10" id="jsPreview{{ pos }}">
                            {{ img.vars.value.name }}
                        </div>
                        <div class="col col-xs-1">
                            <img class="img-thumbnail" src="{{ asset('bundles/app/images/faction/'~img.vars.value.name) }}">
                        </div>
                        <div style="display:none">
                            {{ form_widget(img) }}
                        </div>
                    </div>
                    <hr>
                    {% set pos = pos + 1 %}
                {% endfor %}
            </div>
        </div>

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <br><br>

    <a href="{{ path('faction_index') }}" class="pull-right">Back to the list</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var fileCount = '{{ edit_form.images|length }}';
        var removeButton = "<button type='button' class='btn btn-danger btn-xs' onclick='removeFile($(this));'><i class='fa fa-times' aria-hidden='true'></i></button>";

        function removeFile(ob) {
            ob.parent().parent().remove();
        }

        function createAddFile(fileCount)
        {
            // grab the prototype template
            var newWidget = $("#filesProto").attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            newWidget = newWidget.replace(/__name__/g, fileCount);

            newWidget = "<div style='display:none'>" + newWidget + "</div>";

            hideStuff = "";
            hideStuff += "<div class='col col-xs-1' id='jsRemove" + fileCount + "' style='display: none;'>";
            hideStuff += removeButton;
            hideStuff += "</div>";

            hideStuff += "<div class='col col-xs-11' id='jsPreview" + fileCount + "'>";
            hideStuff += "</div>";

            hideStuff += "<div class='col col-xs-12'>";
            hideStuff += "<button type='button' id='jsBtnUpload" + fileCount + "' class='btn btn-warning'>";
            hideStuff += "<i class='fa fa-plus'></i> Ajouter une carte tactique";
            hideStuff += "</button>";
            hideStuff += "</div><br><br><br>";

            $("#filesBox").append("<div class='row'>" + hideStuff + newWidget + "</div>");

            // On click => Simulate file behaviour
            $("#jsBtnUpload" + fileCount).on('click', function(e){
                $('#appbundle_faction_images_' + fileCount + '_file').trigger('click');
            });

            // Once the file is added
            $('#appbundle_faction_images_' + fileCount + '_file').on('change', function() {
                // Show its name
                fileName = $(this).prop('files')[0].name;
                $("#jsPreview" + fileCount).append(fileName);
                // Hide the add file button
                $("#jsBtnUpload" + fileCount).hide();
                // Show the remove file button
                $("#jsRemove" + fileCount).show();

                // Create another instance of add file button and company
                createAddFile(parseInt(fileCount)+1);
            });
        }

        $(document).ready(function(){
            createAddFile(fileCount);
            fileCount++;
        });
    </script>

{% endblock %}
