<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Asoiaf</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"></head>
    <style>
        .input{
            display: block;
            margin-top: 5px;
        }

        .parentInput{
            height: 30px;
        }

        .container{
            margin-top: 400px;
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
        .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
        .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
        .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
        .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12,
        .col-xs-offset-1,.col-xs-offset-2{
            border:0;
            padding:0;
        }

        .noFirst {
            padding-top: 40px;
        }
        .noFirstNuc {
            padding-left: 40px;
        }

    </style>
{#http://dev.uca.fr/asoiaf/web/app_dev.php/ajaxGeneratePDF?factionID=1&cmdID=1&ucID[]=19#}
<body style='background-image: url("{{ asset('bundles/app/images/firstbackground.jpg') }}");background-image-resize: 6'>

    <div style="position: absolute;margin-top: 4.8em;padding-left: 30em">
        <span>Général de l'armée</span>
    </div>

    <div style="position: absolute;margin-top: 8.5em;padding-left: 19em">
        <ul class="list-inline">
            <li style="width: 11.7em;float: left"><img class="img-responsive" src="{{ asset('bundles/app/images/uniteus/') ~  pathCmdPicture }}"/></li>
        </ul>
    </div>

    <div style="position: absolute;margin-top: 17.8em;padding-left:7.5em">
        <span>{{ armyName }}</span>
    </div>

    <div style="position: absolute;margin-top: 22.2em;padding-left: 7.5em;width: 50px">
        <span>{{ armyPoint }}</span>
    </div>

    <div style="position: absolute;margin-top: 28.2em;padding-left: 2em;width: 100%">
        <ul class="list-inline">
            {% for path in listPathNUc %}
                <li style="width: 11.2em;float: left" {% if not loop.first %}class="noFirstNuc"{% endif %}><img class="img-responsive" src="{{ asset('bundles/app/images/uniteus/') ~  path }}"/></li>
            {% endfor %}
        </ul>
    </div>

    <div style="position: absolute;margin-top: 49.5em;width: 100%">
        <ul class="list-inline listNuc">
            {% for path in listPathUc %}
                {% for test in path %}
                    <li style="padding-left: 2em" {% if not loop.first %}class=""{% endif %}>
                        <div style="float:left;width: 25.5em;padding-bottom: 2.7em ">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/uniteus/') ~  test.uc }}" />
                        </div>
                        <div style="float: left;width: 10em;padding-left:0.5em;padding-top: 0.3em">
                            <img class="img-responsive" src="{{ asset('bundles/app/images/uniteus/') ~  test.nattchId }}"/>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

</body>
</html>

