{% extends 'base.html.twig' %}

{% block body %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <h1>Individu edit</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.pathRectoPicture) }}
    {% if edit_form.pathRectoPicture is defined and edit_form.pathRectoPicture.vars.block_prefixes[1] == "file" and edit_form.pathRectoPicture.vars.form.parent.vars.value.pathRectoPicture %}
        {% set str = edit_form.pathRectoPicture.vars.form.parent.vars.value.pathRectoPicture|split('/') %}
        <img style="max-width: 100px" src="/asoiaf/web/bundles/app/images/uniteus/{{ str|last }}">
    {% endif %}
    {{ form_row(edit_form.pathVersoPicture) }}
    {% if edit_form.pathVersoPicture is defined and edit_form.pathVersoPicture.vars.block_prefixes[1] == "file" and edit_form.pathRectoPicture.vars.form.parent.vars.value.pathVersoPicture %}
        {% set str = edit_form.pathVersoPicture.vars.form.parent.vars.value.pathVersoPicture|split('/') %}
        <img style="max-width: 100px" src="/asoiaf/web/bundles/app/images/uniteus/{{ str|last }}">
    {% endif %}
    {{ form_row(edit_form.pathTactilCardFirst) }}
    {% if edit_form.pathTactilCardFirst is defined and edit_form.pathTactilCardFirst.vars.block_prefixes[1] == "file" and edit_form.pathTactilCardFirst.vars.form.parent.vars.value.pathTactilCardFirst %}
        {% set str = edit_form.pathTactilCardFirst.vars.form.parent.vars.value.pathTactilCardFirst|split('/') %}
        <img style="max-width: 100px" src="/asoiaf/web/bundles/app/images/uniteus/{{ str|last }}">
    {% endif %}
        {{ form_row(edit_form.pathTactilCardSecond) }}
    {% if edit_form.pathTactilCardSecond is defined and edit_form.pathTactilCardSecond.vars.block_prefixes[1] == "file" and edit_form.pathTactilCardSecond.vars.form.parent.vars.value.pathTactilCardSecond %}
        {% set str = edit_form.pathTactilCardSecond.vars.form.parent.vars.value.pathTactilCardSecond|split('/') %}
        <img style="max-width: 100px" src="/asoiaf/web/bundles/app/images/uniteus/{{ str|last }}">
    {% endif %}
        {{ form_row(edit_form.pathTactilCardThird) }}
    {% if edit_form.pathTactilCardThird is defined and edit_form.pathTactilCardThird.vars.block_prefixes[1] == "file" and edit_form.pathTactilCardThird.vars.form.parent.vars.value.pathTactilCardThird %}
        {% set str = edit_form.pathTactilCardThird.vars.form.parent.vars.value.pathTactilCardThird|split('/') %}
        <img style="max-width: 100px" src="/asoiaf/web/bundles/app/images/uniteus/{{ str|last }}">
    {% endif %}

    {{ form_widget(edit_form) }}

    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('individu_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#appbundle_individu_attachId').select2();
        });
    </script>
{% endblock %}
