{% extends 'base.html.twig' %}

{% block body %}
    <h1>Individus list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nom fr</th>
                <th>Nom ES</th>
                <th>Cout</th>
                <th>Unique</th>
                <th>Recto US</th>
                <th>Verso US</th>
                <th>TactilCard First</th>
                <th>TactilCard Second</th>
                <th>TactilCard Third</th>
                <th>Vrai nom individu</th>
                <th>Uniquement dispo en attach</th>
                <th>Uniquement dispo quand cmd attach</th>
                <th>Attaché à</th>
                <th>Faction</th>
                <th>Type</th>
                <th>Type Individu</th>
                <th>Spécial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for individu in individus %}
            <tr>
                <td><a href="{{ path('individu_show', { 'id': individu.id }) }}">{{ individu.id }}</a></td>
                <td>{{ individu.nom }}</td>
                <td>{{ individu.nomFr }}</td>
                <td>{{ individu.nomEs }}</td>
                <td>{{ individu.cout }}</td>
                <td>{% if individu.isUnique %}Yes{% else %}No{% endif %}</td>
                <td>{{ individu.pathRectoPicture }}</td>
                <td>{{ individu.pathVersoPicture }}</td>
                <td>{{ individu.pathTactilCardFirst }}</td>
                <td>{{ individu.pathTactilCardSecond }}</td>
                <td>{{ individu.pathTactilCardThird }}</td>
                <td>{{ individu.personnageRealName }}</td>
                <td>{% if individu.isOnlySetWhenAttach %}Yes{% else %}No{% endif %}</td>
                <td>{% if individu.isOnlySetWhenCmdSelect %}Yes{% else %}No{% endif %}</td>
                <td>{{ individu.attachId }}</td>
                <td>{{ individu.faction }}</td>
                <td>{{ individu.type }}</td>
                <td>{{ individu.typeIndividu }}</td>
                <td>{{ individu.libelleSpecial }}</td>
                <td>
                    <a href="{{ path('individu_show', { 'id': individu.id }) }}">show</a>
                    <br>
                    <a href="{{ path('individu_edit', { 'id': individu.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('individu_new') }}">Create a new individu</a>
        </li>
    </ul>
    <style>
        #DataTables_Table_0_paginate{
            float:right;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/datatables_1.10.19.js') }}" ></script>
    <script>
        $(document).ready(function() {
            $('.table').DataTable( {
                "language": {
                    "url": "{{ asset('bundles/app/language/French.json') }}"
                }
            } );
        } );
    </script>
{% endblock %}
